@font-face {
 font-family: "lato";
 src: url("font/Lato-Bold.ttf") format("opentype");
}
@font-face {
 font-family: "lato-regular";
 src: url("font/Lato-Regular.ttf") format("opentype");
}
body{
  background-color: #555;
  color: #52AFB7;
}
main{
  background-color: #E6E7E8;
  color: #52AFB7;
  width: 1000px;
  box-shadow: 1px 1px 15px #000;
  margin: auto;
  margin-bottom: 300px;
}
.bold{
  font-weight: bold;
}
.boldColor{
  color: black;
}
header{
  padding-top: 50px;
}
h1, h2{
  text-align: center;
  font-family: "lato";
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px;
}

h2{
  font-size: 30px;
  letter-spacing: 0px;
  font-family: "lato-regular";
}

h2{
  text-align: center;
  margin-bottom: 10px;
}
h3{
  text-align: left;
  width: 80%;
  margin: auto;
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 7px;
  font-family: "lato";
  cursor: pointer;
}

.formations .data{
  font-size: 0.9rem;
}

.inline-block{
  display: inline-block;
  white-space: nowrap;
}

.right{
  float: right;
  clear: both;

}
.coordonnees .right{
    width: 140px;
}

#image-discord{
  width: 51px;
  height: 49px;
}

.bar{
  width: 80%;
  height: 3px;
  background-color: white;
  margin: auto;
}


.coordonnees{
  width: 43%;
  margin: auto;
  padding-right: 70px;
  overflow: hidden;
}
.coordonnees p{
  vertical-align: top;
  color: #868181;
  padding: 0;
  margin: 10px 0 0 0;
}

.infos{
  color: #888;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.infos .label{
  color: black;
  width: 115px;
  font-weight: bold;
  font-family: "lato-regular";
}

.infos .data{
  width: 670px;
  white-space: normal;
  vertical-align: top;
}

.info{
  margin-top: 5px;
}


footer{
  width: 100%;
  height: 100px;
}

li{
  list-style-type: none;
}



.data span{
  cursor: pointer;
}
.data span:hover .infobule{
  position: absolute;
  display: block;
  box-shadow: 1px 1px 4px black;
  background-color: white;
}
.data span .infobule{
  display: none;
}
