
@media  (max-width: 575px) { 
    body{
        width: 100%;
        padding: 0;
    }

    html, body, main{
        padding: 0px;
        margin: 0;
    }
    
    html,body,
    main, .bar,
    .infos, h3{
        width: 100%;
    }
    .right{
        float: left;
    }
    
    #image-discord,
    .coordonnees img {
        width: 39px;
        height: 39px;
    }


    .coordonnees {
        width: 74%;
        margin: 0;
    }
    .infos .data {
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.75rem;
    }

}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

    main{
        width: 576px;
    }
    .bar{
        width: 100%;
    }
    .infos{
        width: 100%;
    }
    h3{
        width: 100%;
    }
    .coordonnees {
        width: 74%;
    }
    .infos .data {
        width: 576px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px)  { 

    main{
        width: 768px;
    }
    .bar{
        width: 90%;
    }
    .infos{
        width: 90%;
    }
    h3{
        width: 90%;
    }
    .coordonnees {
        width: 53%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}